.topnav {
    padding: 0px 20px;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        .expand {
            display: flex;
            justify-content: center;
            align-items: center;
            .brand {
                margin-left: 20px;
            }
        }
        .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .searchbtn {
                width: 200px;
                border-radius: 100px;
                .keyboard {
                    margin-left:15px;
                }
            }
            .searchbtn:hover {
                border: 2px solid #409eff;
            }
            .popperstyle {
                .btn {
                    margin-left: 10px;
                }
            }
            i {
                margin-left: 10px;
            }
            .imgs {
                width: 30px;
                border-radius: 15px;
                margin-left: 10px;
            }
            .imgs:hover {
                cursor: pointer;
            }
            .btn {
                margin-left: 10px;
            }
        }
    }
    .bottom {
        height: 30px;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 15px;
        .eltag {
            margin-right: 5px;
        }
    }
}