.topnav {
    padding: 0px 20px;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .expand {
            display: flex;
            justify-content: center;
            align-items: center;
            .brand {
                margin-left: 20px;
            }
        }
        .icons {
            width: 170px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .imgs {
                width: 50px;
                border-radius: 15px; 
            }
        }
    }
    .bottom {
        height: 30px;
        .eltag {
            margin-right: 5px;
        }
    }
}