.firstpage {
    background-image: url('../../assets/index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        font-size: 50px;
        color: antiquewhite;
        background: linear-gradient(to right bottom, blue, red 70px);
    }
}