.login {
    width: 100%;
    height: 100%;
    background-image: url("../assets/backgroundlogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}